* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  background-color: #1e1e1e;
  min-height: 100vh;
  max-height: max-content;
  font-family: "Rubik", sans-serif;
  color: #1ed760;
  font-size: 32px;
}
